build/*
game/build/*
game/buildserver/*
tools/build/*
obj/
bin/*
log*
shaders/version_convert.rb

*.DS_Store
*.swp

!/build/CMakeLists.txt
!/game/build/CMakeLists.txt
!/game/buildserver/CMakeLists.txt
!/tools/build/CMakeLists.txt
